.homeTitleContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/public/title-bg.png");
    background-size: cover;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
  }
.homeTitleContainerShade {
    position: relative;
    width: 100%;
    height: 25em;
    background: rgba(0,0,0,0.1);
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    line-height: 300px;
}

.homeTitleText1 {
    text-transform: capitalize;
    font-size: 60px;
    letter-spacing: 0.5em;    
    word-spacing: 0.5em;
    font-weight: lighter;
  }

.homeTitleText2 {
    font-size: 20px;
    letter-spacing: 0.2em;    
    word-spacing: 0.2em;
    font-weight: 100;
  }