.mediumWidth {
    min-width: 50em;
    width: 50%;
    margin: auto;
}

.largeWidth {
    align-content: center;
    min-width: 80em;
    width: 80%;
    margin: auto;
}
.fullWidth {
    align-content: center;
    min-width: 100%;
    margin: auto;
}

.paragraph{
    padding-top: 2vh;
    text-align: justify;
    padding-top: 2vh;
}

.title {
    color: var(--mantine-color-cyan-5);
}

.subtitle{
    text-align: center;
    font-weight: bold;
    color: var(--mantine-color-cyan-5);
}

.highlight{
    size: 'lg';
    font-weight: bold;
    color: var(--mantine-color-cyan-5);
}

.screenshot {
    height: 500px;    
}